:root {
    --body-font: 'Inter', sans-serif;
    --header-font: 'Libre Franklin', sans-serif;
    --white: #ffffff;
    --black: #0a0a0a;
    --text-grey: #555;
}

html,
body {
    font-family: var(--body-font);
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 15px;
}


/* BODY */
.main {
    width: 80vw;
    max-width: 1600px;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}


/* NAVIGATION */
.nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.logo {
    font-family: var(--header-font);
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu .default-nav {
    height: 28px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.nav-menu>.default-nav>a {
    transition: 0.35s;
}

.dropdown {
    display: none;
}


/* CONTENT */
.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: var(--text-grey);
}

.title-section {
    font-family: var(--header-font);
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 20px;

    h3 {
        color: var(--black);
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.tags>div {
    padding: 4px 10px;
    line-height: 180%;
    background: #f5f5f5;
    color: var(--text-grey);
    border-radius: 4px;
}

.image {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.image>img {
    width: 100%;
}

.grid-auto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .header {
        font-family: var(--header-font);
        color: black;
    }
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text-block>img {
    width: 100%;
}

.info-grid {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
}

.info-grid>.first {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.project-info {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}

.second>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 12px;
}

.stat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px;
    padding: 10px 20px;
}

.stat-label {
    margin-top: 12px;
    width: 72px;
    line-height: 180%;
}

.flex-auto {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.highlight-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.highlight-block>.card {
    padding: 24px 20px;
    background: #F2F2F2;
    border-radius: 6px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.flex-end {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-end;
}

.half {
    width: 50%;
}

.next-steps {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-left: 20px;
    gap: 16px;
}

.bold {
    font-weight: 700;
}

.see-more {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.project-title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);

    p {
        font-size: 14px;
        font-weight: bold;
    }
}

.flex {
    display: flex;
    gap: 12px;
    border-bottom: 1.5px solid transparent;
    width: fit-content;
    align-items: center;
    transition: .35s;
}

.project-link-card {
    max-width: 320px;
}

.project-link-card:hover .flex {
    border-bottom: 1.5px solid #121212;
}


/* FOOTER */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

.inactive {
    opacity: 0.4;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
}

.breadcrumb>a {
    padding: 4px 0px;
    transition: 0.35s;
}

.breadcrumb>a:hover {
    opacity: 0.8;
    border-bottom: 1.5px solid #222;
}

.language-switcher {
    display: flex;
    align-items: center;
    gap: 12px;
}

.language-switcher>a {
    padding: 4px 0px;
    border-bottom: 1.5px solid #22222200;
    transition: 0.35s;
}

.language-switcher>a:hover {
    opacity: 0.8;
    border-bottom: 1.5px solid #222222;
}


/* DESKTOP → TABLET → MOBILE */
@media screen and (max-width: 800px) {
    .main {
        width: 88vw;
    }

    .title-section {
        width: 80%;
    }

    .info-grid {
        width: 100%;
    }

    .stat-grid {
        gap: 16px;
    }

    .title-section>h3,
    .grid-auto>.header,
    .flex-auto>.header,
    .text-block>.callout {
        font-size: 26px;
    }

    .stat-grid>div>h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 520px) {
    .main {
        gap: 40px;
        margin: 40px 20px 20px 20px;
    }

    .container {
        gap: 48px;
    }

    .title-section,
    .half,
    .see-more {
        width: 100%;
    }

    .grid-auto {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .project-link-card > p {
        display: none;
    }

    .project-title > p {
        font-weight: 600;
    }

    .highlight-block {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .title-section>h3,
    .grid-auto>.header,
    .flex-auto>.header,
    .text-block>.callout {
        font-size: 24px;
    }

    .stat-grid>div>h2 {
        font-size: 28px;
    }

    .image>.subtitle {
        font-size: 12px;
    }

    .stack {
        flex-direction: column;
        align-items: start;
    }

    .nav-menu>.default-nav {
        display: none;
    }

    .main>.navigation {
        opacity: 1;
    }

    .navigation>.navigation__button {
        cursor: pointer;
    }
}

@media screen and (max-width: 300px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}


/* MOBILE FIXED HAMBURGER MENU */
.navigation {
    position: absolute;
    opacity: 0;
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    background-color: #ffffff;
    height: 2.75rem;
    width: 3rem;
    position: fixed;
    top: 32px;
    right: 16px;
    border-radius: 6px;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: default;
}

.navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4.3rem;
    right: 4.25rem;
    background-image: radial-gradient(#3a506b, #1c2541);
    z-index: 1000;
    /* transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); */
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    width: 50vw !important;
    background-color: #121212;
    transition: all 0.35s ease;
}

.navigation__list {
    position: absolute;
    top: 36%;
    left: 54%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: end;
    width: 100%;
    padding: 0px;
}

.navigation__item {
    margin: 1rem;
    margin-bottom: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding: 1rem 1.5rem;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s;
}

.navigation__link:hover,
.navigation__link:active {
    color: #FFFFFF;
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(80);
}

.navigation__checkbox:checked~.navigation__nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.navigation__icon {
    position: relative;
    margin-top: 1.2rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 1.2rem;
    height: 2px;
    background-color: #121212;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
}

.navigation__icon::before {
    top: -.4rem;
    transition: .35s;
}

.navigation__icon::after {
    top: .4rem;
    transition: .35s;
}

.navigation__button:hover .navigation__icon::before {
    transform: translate(0, -2px);
}

.navigation__button:hover .navigation__icon::after {
    transform: translate(0, 2px);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(-45deg) scaleX(0.66) translate(0px, -6px);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(45deg) scaleX(0.66) translate(0px, 6px);
}


/* GIF PLAYER */
.figure {
    margin: 0px;
    float: left;
    position: relative;
    cursor: pointer;
}

.figure:before,
.figure:after {
    position: absolute;
}

.figure:before {
    content: 'Click to play';
    position: absolute;
    display: inline-block;
    width: 100px;
    text-align: center;
    bottom: 36px;
    left: 12px;
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    border-radius: 3px;
    color: #656D78;
    background-color: #f2f2f2bb;
    text-transform: uppercase;
    transition: .35s;
}

.figure:after {
    content: 'gif';
    position: absolute;
    display: inline-block;
    width: 40px;
    text-align: center;
    top: 12px;
    right: 12px;
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    transition: .35s;
}

.figure.play:before {
    display: none;
}

.figure.play:after {
    color: #fff;
    background-color: #ff9222;
}



/* UTILITIES */
h2 {
    font-size: 32px;
    font-weight: 400;
    margin: 0px;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
    margin: 0px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin: 0px;
}

p {
    font-size: 16px;
    line-height: 180%;
    margin: 0px;
}

h6 {
    padding: 0px;
    margin: 0px;
}

i {
    font-size: 20px;
    color: var(--black);
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    padding: 4px 0px;
    transition: .35s;
}

.aligned-right {
    justify-content: end;
    text-align: right;
}

.primary-btn {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #222;
    width: fit-content;
    transition: 0.35s;
}

.primary-btn:hover {
    opacity: 0.7;

}

.primary-btn>svg * {
    transition: 0.35s;
}


.primary-btn:hover>svg * {
    stroke: #fff;
}

.header {
    font-size: 32px;
    font-weight: 300;
}

.callout {
    font-size: 28px;
    font-style: italic;
}

.divider {
    border-bottom: 1px solid #bdbdbd;
}

.subtitle {
    font-size: 14px;
    opacity: 0.7;
    font-weight: 400;
    text-transform: uppercase;
}

.link {
    color: #005EEC;
    text-decoration: underline;
}

.gap-1 {
    gap: 12px;
}

.gap-6 {
    gap: 40px;
}

.pad-y {
    padding: 24px 0px;
}

.justify-between{
    justify-content: space-between;
}

.nav-menu>.default-nav>a:hover {
    opacity: 0.8;
    border-bottom: 1.5px solid #222222;
}