---
import Layout from "../layouts/defaultLayout.astro";
import ChatButton from "../components/chatButton.astro";
---

<Layout>
  <main class="pt-24">
    <div class="content">
      <div class="profile">
          <img src="assets/avatar.png" alt="">
          <div>
              <h3>Feyisola Olawuyi</h3>
              <div>@solaszn</div>
          </div>
      </div>

      <div class="info bio-2">
          <div class="subtitle-2">Contact me</div>
          <div class="text">
              <p>Want to discuss a project or opportunity? Book a meeting <a href="https://cal.com/solaszn"
                      target="_blank" class="link">here.</a></p>
              <p>Looking to connect with amazing people and open to random conversations on <span
                      class="highlight">[fill the blanks]</span>. Reach me on..</p>
              <p class="connect">
                  <a class="link" href="mailto:olawuyisola20@gmail.com">Email</a>
                  <a class="link" target="_blank" href="https://linkedin.com/in/solaszn">Linkedin</a>
                  <a class="link" target="_blank" href="https://t.me/solaszn">Telegram</a>
              </p>
              <p class="italics">Danke.</p>
          </div>
      </div>
  </div>
  </main>
</Layout>
