---
import Layout from "../../layouts/defaultLayout.astro";
import ChatButton from "../../components/chatButton.astro";
---

<Layout>
  <main class="pt-24">
    <div class="content">
      <div class="info bio-2">
          <div class="subtitle-2">Journal</div>
          <div class="text">
              <p>On here, I plan to share bits from my daily journal; milestones, goals and the steps I'm taking
                  to grow personally and career wise.</p>
              <p>In the meantime, feel free to say hello 👋 <a href="contact.html" class="link">here</a>.</p>
          </div>
          <div class="" style="margin-top: 16px; opacity: 0.6;">* Dusts cobwebs, leaves to come back another time.
              *</div>
      </div>
  </div>
  </main>
</Layout>
