@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --background: #FFFFFF;
  --text: #0A0A0A;
  --selectiontext: #FFFFFF;
  --accent: #262626;
}

:root.dark {
  /* Dark mode variables */
  --background: #0A0A0A;
  --text: #FFFFFF;
  --selectiontext: #0A0A0A;
  --accent: #ECECEC;
}

html {
  color-scheme: light;
  scroll-padding-top: 100px;
}

html.dark {
  color-scheme: dark;
}

body {
  transition: background-color 0.3s ease;
}

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: var(--background);
  color: var(--text);
  cursor: url("/custom-cursor.ico"), default;
  @apply antialiased;
}

main, header, footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 640px) {
  main, header, footer {
    padding: 0 20px;
  }
}

::selection {
  background: var(--accent);
  color: var(--selectiontext);
}

svg, path {
  stroke-width: 1.5;
}

/* Custom Animation Transition Class
  Use along with .smooth or .slow for preferred duration */
.transition-any {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Overriding classes */
.smooth {
  transition-duration: 500ms;
}

.slow {
  transition-duration: 1000ms;
}