---
import Layout from "../layouts/defaultLayout.astro";
import ChatButton from "../components/chatButton.astro";
import MusicProfile from "../components/musicProfile.astro";
---

<Layout>
  <main class="pt-24">
    <div class="content">
      <div class="profile">
        <img src="assets/avatar.png" alt="" />
        <div>
          <h3>Feyisola Olawuyi</h3>
          <div>@solaszn</div>
        </div>
      </div>

      <div class="info">
        <div class="bio-2 half">
          <div class="subtitle-2">About me</div>
          <div class="text" style="display: flex; flex-direction: column; gap: 16px;">
            <p>
              Over the years I have had the privilege of working with great people across health, AI, back-office software and non-profits - here's a <a
                href="https://www.loom.com/share/9e5a0b53af3e4f9f9ef4375fe6d811f1?sid=83fa997c-3e96-43fb-bf46-ff82d3702598"
                target="_blank"
                style="padding: 0px;"
                class="link"
              >
                3-min Loom video
              </a> where I talk about my background.
            </p>
            <p>
              At present, I work at Reframe as a UX Engineer. However in the future, I would like to retire early to a hilltop lined with trees, no obstructions when watching the sunset - first I have
              to afford it.
            </p>
            <p>
              In my free time, you can find me reading fiction, exercising or watching YouTube. Fun fact, I
              <a href="https://x.com/solaszn/status/1531102663303217154?s=20" target="_blank" style="padding: 0px;" class="link">trained to write left-handed</a> and sometimes I sketch stuff like furniture
              or buildings. (PS: I wanted to be an architect)
            </p>
          </div>
        </div>

        <div class="flex-col">
          <div class="divider"></div>
          <h3>At the moment, I'm..</h3>

          <div class="grid-auto">
            <h3 class="heading">Learning</h3>
            <div class="text text-block">
              <div>French (DELF in-view)</div>
              <div>Svelte</div>
            </div>
          </div>

          <div class="grid-auto">
            <h3 class="heading">Reading</h3>
            <div class="text text-block">
              <div class="flex">
                <a href="https://a.co/d/iEeCkz1" target="_blank" class="link-2">Joys of Motherhood - Buchi Emecheta</a>
                <img src="assets/ne-arrow.svg" width="20px" alt="" />
              </div>
              <div class="flex">
                <a href="https://a.co/d/fStak8H" target="_blank" class="link-2">Les Miserables - Victor Hugo</a>
                <img src="assets/ne-arrow.svg" width="20px" alt="" />
              </div>
            </div>
          </div>

          <div class="grid-auto">
            <h3 class="heading">Listening to</h3>
            <div class="text text-block">
              <div class="flex">
                <a href="https://songwhip.com/kaytranada/do-2-me" target="_blank" class="link-2">Do 2 Me - KAYTRANADA, Anderson .Paak, SiR</a>
                <img src="assets/ne-arrow.svg" width="20px" alt="" />
              </div>
              <div class="flex">
                <a href="https://songwhip.com/mikiikhifa/jazz-from-namibia" target="_blank" class="link-2">Jazz from Namibia - Miki Ikhifa</a>
                <img src="assets/ne-arrow.svg" width="20px" alt="" />
              </div>
              <div class="flex">
                <a href="https://songwhip.com/blkodyssy/pink-marmalade" target="_blank" class="link-2">PINK MARMALADE - BLK ODYSSY, LARA'</a>
                <img src="assets/ne-arrow.svg" width="20px" alt="" />
              </div>
              <div class="flex">
                <a href="https://innerfrench.com/podcast/" target="_blank" class="link-2">Inner French - Hugo Cottogne</a>
                <img src="assets/ne-arrow.svg" width="20px" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex bio-2 stack">
        <img src="assets/asterisk.svg" alt="" />
        <p>Have something in common? <a href="contact.html" class="link">Let's talk</a></p>
      </div>
    </div>
    <MusicProfile />
  </main>
</Layout>
