---
import Layout from "../layouts/defaultLayout.astro";
import ChatButton from "../components/chatButton.astro";
---

<Layout>
  <main class="pt-28 pb-32">
    <div class="grid lg:grid-cols-9">
        <div class="lg:col-span-4">
            <div class="flex h-[360px]  bg-[#AEAEAE]/15 justify-center items-center">
                <span class="opacity-50 no select-none">Video goes here..</span>
            </div>
        </div>

        <div class="lg:col-start-6 lg:col-span-4 space-y-5 opacity-85 font-medium leading-relaxed">
            <div class="opacity-100 text-2xl pb-4">...</div>
            <div>Have a project? Book a meeting</div>
            <div>I’m interested in connecting with amazing people. If my work interests you, there’s a 93% chance you’re one of them. Feel free to book a call, if you have a topic in mind or not; open to random conversations as well.</div>
            <div>Reach me on email olawuyisola20 [at] gmail</div>
            <div>Danke!</div>
            <ChatButton/>
        </div>
    </div>
  </main>
</Layout>
