---
// chatButton.astro
import { Icon } from "astro-icon/components"

const meetButtons = "hover:bg-neutral-700";
---

<div class="dropdown">
  <button class="dropdown-btn flex items-center gap-2 font-medium bg-white text-black p-2 rounded">
    <div>Let's talk</div>
    <Icon name="chevron-down" class="w-4 h-4"/>
  </button>
  <div class="dropdown-content font-medium bg-neutral-800 border border-white/10">
    <a aria-label="Quick call with Feyisola" href="https://cal.com/solaszn/quick-call?nxtPuser=solaszn" target="_blank" class=`${meetButtons} block p-2`>Brief call (15m)</a>
    <a aria-label="Deep dive call with Feyisola" href="https://cal.com/solaszn/secret?nxtPuser=solaszn" target="_blank" class=`${meetButtons} block p-2`>Deep dive (45m) </a>
  </div>
</div>

<style>
  .dropdown {
    position: relative;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    padding: 8px;
    min-width: 160px;

    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    
    /* Spring-like transition */
    transition: 
      transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
      opacity 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
      visibility 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  .dropdown-content.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
</style>

<script>
  const dropdowns = document.querySelectorAll('.dropdown');

  dropdowns.forEach(dropdown => {
    const btn = dropdown.querySelector('.dropdown-btn');
    const content = dropdown.querySelector('.dropdown-content');

    btn?.addEventListener('click', () => {
      console.log('You clicked this button')
      content?.classList.toggle('show');
    });

    // Close dropdown when clicking outside
    document.addEventListener('click', (event) => {
      if (!dropdown.contains(event.target as Node)) {
        content?.classList.remove('show');
      }
    });
  });
</script>